* {
  border: 1px solid red;
}

.head{
  width: 98vw;
  color:#000080;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_txt{
  font-size:24px;
}

.menu_list{
  font-size: 15px;
}

.menu_content{
  padding-left: 20px;
}

.contents{
  width: 98vw;
  height: 50vw;
  position: relative;
}

.pict{
  position: absolute;
  left: 50%;
  top: 15%;
  width: 50%;
  height: auto;
  z-index: 10;
}

.main_txt{
  position:absolute;
  top:55%;
  font-size: 3.5vw;
  font-weight: 300;
}

.blue_box {
  position: absolute;
  top: 67%;
  background-color: #000080;
  width: 75%;
  height: 25%;
  z-index: -10;
}